<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-item>
    <ion-label>Timer</ion-label>
    <ion-select #option [(ngModel)]="indexselect" (ngModelChange)="getSelectIndex(option.value)" interface="popover">
      <ion-option  selected="true" value=1>
        00:30
      </ion-option>
      <ion-option  *ngFor="let timeselect of items" [value]="timeselect.ind">
          {{timeselect.timer}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-card>
    <ion-card-header><b>Activities</b></ion-card-header>
    <ion-card-content>
    <ion-list>
      <button ion-item *ngFor="let acts of activities" (click)="goTimer(acts)">
        {{acts}}
      </button>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
